


<div class="nav-item px-3" >
    
    @if (Root.Children.Count != 0)
    {
        <span class="oi oi-list-rich" style="color:yellow;"  @onclick="()=>expand = !expand"></span>
    }

    <NavLink href=@(Root.Link) >
        @Root.Name
    </NavLink>
</div>




<div style="margin-left:20px;" >
    @if (expand)
    {
        @foreach (MenuNode node in Root.Children)
        {
            <MenuTree Root=node></MenuTree>

        }
    }
</div>

@code 
{
    private bool expand;

    [Parameter]
    public MenuNode? Root { get; set; }
}
