@page "/"

@using BlazorServerCrud1.Components
@using BlazorServerCrud1.Components.ProductComponents
@using BlazorServerCrud1.Data.Messages
@using CosmosDBData
@inject ICosmosDBContext cosmosDB;
@inject IMessageService messageService;

@implements IMessageSubscriber;



<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<form @onsubmit=@Submit>
<input type="text" @bind-value=sendit />
</form>
<H1>message:@message</H1>

@foreach (var item in Chat)
{
    <span>@item</span><br>
}




